# Date Time

In [1]:
import pandas as pd
import numpy as np

In [5]:
nls97 = pd.read_csv("data/nls97c.csv")
nls97.set_index("personid", inplace=True)

In [11]:
nls97[['birthmonth', 'birthyear']].isna().sum()

birthmonth    1
birthyear     0
dtype: int64

In [14]:
nls97.birthyear.value_counts().sort_index()

1980    1691
1981    1874
1982    1841
1983    1807
1984    1771
Name: birthyear, dtype: int64

In [18]:
nls97.birthmonth.fillna(int(nls97.birthmonth.mean()), inplace=True)

In [20]:
nls97["birthdate"] = pd.to_datetime(
    dict(year=nls97.birthyear, month=nls97.birthmonth, day=15)
)

In [21]:
nls97["birthdate"].head()

personid
100061   1980-05-15
100139   1983-09-15
100284   1984-11-15
100292   1982-04-15
100583   1980-06-15
Name: birthdate, dtype: datetime64[ns]

In [22]:
#calculate age
def calcage(startdate, enddate):
    age = enddate.year - startdate.year
    if (enddate.month<startdate.month or (enddate.month == startdate.month and enddate.day<startdate.day)):
        age = age - 1
    return age

In [25]:
rundate = pd.to_datetime("2020-07-20")
nls97["age"] = nls97.apply(lambda x: calcage(x.birthdate, rundate), axis=1)

nls97.loc[100061:100583, ["age","birthdate"]]

          age  birthdate
personid
100061     40 1980-05-15
100139     36 1983-09-15
100284     35 1984-11-15
100292     38 1982-04-15
100583     40 1980-06-15

In [32]:
covidcases = pd.read_csv("data/covidcases720.csv")
covidcases.iloc[:,0:6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29529 entries, 0 to 29528
Data columns (total 6 columns):
iso_code       29529 non-null object
continent      29529 non-null object
location       29529 non-null object
casedate       29529 non-null object
total_cases    29231 non-null float64
new_cases      29231 non-null float64
dtypes: float64(2), object(4)
memory usage: 1.4+ MB

In [34]:
covidcases.iloc[:,0:6].sample(2, random_state=1).T

                   13482          2445
iso_code             IMN            BRB
continent         Europe  North America
location     Isle of Man       Barbados
casedate      2020-06-20     2020-04-28
total_cases          336             80
new_cases              0              1

In [35]:
covidcases["casedate"] = pd.to_datetime(covidcases.casedate, format="%Y-%m-%d")

In [45]:
covidcases["casedate"].describe()

count                   29529
unique                    195
top       2020-05-23 00:00:00
freq                      209
first     2019-12-31 00:00:00
last      2020-07-12 00:00:00
Name: casedate, dtype: object