In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("data/covidtotalswithmissings.csv")

In [8]:
df.shape

(210, 12)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 12 columns):
iso_code           210 non-null object
lastdate           210 non-null object
location           210 non-null object
total_cases        210 non-null int64
total_deaths       210 non-null int64
total_cases_pm     209 non-null float64
total_deaths_pm    209 non-null float64
population         210 non-null float64
pop_density        198 non-null float64
median_age         186 non-null float64
gdp_per_capita     182 non-null float64
hosp_beds          164 non-null float64
dtypes: float64(7), int64(2), object(3)
memory usage: 19.8+ KB

In [24]:
df.isna().sum()

iso_code            0
lastdate            0
location            0
total_cases         0
total_deaths        0
total_cases_pm      1
total_deaths_pm     1
population          0
pop_density        12
median_age         24
gdp_per_capita     28
hosp_beds          46
dtype: int64

In [79]:
df.isna().sum(axis=1).value_counts()

0    156
1     23
2     12
3     11
4      8
dtype: int64

In [78]:
df.iloc[206]

iso_code                      ESH
lastdate               2020-06-01
location           Western Sahara
total_cases                    23
total_deaths                    1
total_cases_pm             38.505
total_deaths_pm             1.674
population                 597330
pop_density                   NaN
median_age                   28.4
gdp_per_capita                NaN
hosp_beds                     NaN
Name: 206, dtype: object

In [71]:
df.sample(5, random_state=1).T

,44,188,51,204,35
iso_code,COG,THA,CZE,VEN,CAN
lastdate,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01
location,Congo,Thailand,Czech Republic,Venezuela,Canada
total_cases,611,3081,9273,1510,90936
total_deaths,20,57,320,14,7295
total_cases_pm,110.727,44.14,865.909,53.102,2409.4
total_deaths_pm,3.624,0.817,29.881,0.492,193.285
population,5.51809e+06,6.98e+07,1.0709e+07,2.84359e+07,3.77422e+07
pop_density,15.405,135.132,137.176,36.253,4.037
median_age,19,40.1,43.3,29,41.4
gdp_per_capita,4881.41,16277.7,32605.9,16745,44017.6
hosp_beds,NaN,2.1,6.63,0.8,2.5

In [51]:
df[df["total_cases_pm"].isna()].T

                          87
iso_code                 HKG
lastdate          2020-05-26
location           Hong Kong
total_cases                0
total_deaths               0
total_cases_pm           NaN
total_deaths_pm          NaN
population       7.49699e+06
pop_density          7039.71
median_age              44.8
gdp_per_capita       56054.9
hosp_beds                NaN

In [58]:
df[df["pop_density"].isna()].T

,5,24,65,81,100,104,130,176,184,185,203,206
iso_code,AIA,BES,FLK,GGY,JEY,XKX,MSR,SSD,SYR,TWN,VAT,ESH
lastdate,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01,2020-06-01
location,Anguilla,Bonaire Sint Eustatius and Saba,Falkland Islands,Guernsey,Jersey,Kosovo,Montserrat,South Sudan,Syria,Taiwan,Vatican,Western Sahara
total_cases,3,7,13,252,308,1064,11,994,122,442,12,23
total_deaths,0,0,0,13,29,30,1,10,4,7,0,1
total_cases_pm,199.973,266.962,3732.41,3758.28,3047.3,550.504,2200.44,88.8,6.971,18.558,14833.1,38.505
total_deaths_pm,0,0,0,193.879,286.921,15.522,200.04,0.893,0.229,0.294,0,1.674
population,15002,26221,3483,67052,101073,1.93277e+06,4999,1.11937e+07,1.75007e+07,2.38168e+07,809,597330
pop_density,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
median_age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.2,21.7,42.2,NaN,28.4
gdp_per_capita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1569.89,NaN,NaN,NaN,NaN
hosp_beds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN

In [84]:
cols = ['pop_density', 'median_age',"gdp_per_capita","hosp_beds"]
df[df[cols].isna().all(1)]

,iso_code,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
5,AIA,2020-06-01,Anguilla,3,0,199.973,0.000,15002.0,NaN,NaN,NaN,NaN
24,BES,2020-06-01,Bonaire Sint Eustatius and Saba,7,0,266.962,0.000,26221.0,NaN,NaN,NaN,NaN
65,FLK,2020-06-01,Falkland Islands,13,0,3732.415,0.000,3483.0,NaN,NaN,NaN,NaN
81,GGY,2020-06-01,Guernsey,252,13,3758.277,193.879,67052.0,NaN,NaN,NaN,NaN
100,JEY,2020-06-01,Jersey,308,29,3047.302,286.921,101073.0,NaN,NaN,NaN,NaN
104,XKX,2020-06-01,Kosovo,1064,30,550.504,15.522,1932774.0,NaN,NaN,NaN,NaN
130,MSR,2020-06-01,Montserrat,11,1,2200.440,200.040,4999.0,NaN,NaN,NaN,NaN
203,VAT,2020-06-01,Vatican,12,0,14833.127,0.000,809.0,NaN,NaN,NaN,NaN

In [96]:
demovars = [
    "population",
    "pop_density",
    "median_age",
    "gdp_per_capita",
    "hosp_beds"
]

demovarsmisscnt = df[demovars].isnull().sum(axis=1)
demovarsmisscnt.value_counts()

0    156
1     24
2     12
3     10
4      8
dtype: int64

In [108]:
df.loc[demovarsmisscnt>=3, ["location"]+demovars]

,location,population,pop_density,median_age,gdp_per_capita,hosp_beds
3,Andorra,77265.0,163.755,NaN,NaN,NaN
5,Anguilla,15002.0,NaN,NaN,NaN,NaN
24,Bonaire Sint Eustatius and Saba,26221.0,NaN,NaN,NaN,NaN
28,British Virgin Islands,30237.0,207.973,NaN,NaN,NaN
64,Faeroe Islands,48865.0,35.308,NaN,NaN,NaN
65,Falkland Islands,3483.0,NaN,NaN,NaN,NaN
75,Gibraltar,33691.0,3457.100,NaN,NaN,NaN
77,Greenland,56772.0,0.137,NaN,NaN,NaN
81,Guernsey,67052.0,NaN,NaN,NaN,NaN
95,Isle of Man,85032.0,147.872,NaN,NaN,NaN
100,Jersey,101073.0,NaN,NaN,NaN,NaN
104,Kosovo,1932774.0,NaN,NaN,NaN,NaN
130,Montserrat,4999.0,NaN,NaN,NaN,NaN
142,Northern Mariana Islands,57557.0,119.878,NaN,NaN,NaN
185,Taiwan,23816775.0,NaN,42.2,NaN,NaN
194,Turks and Caicos Islands,38718.0,37.312,NaN,NaN,NaN
203,Vatican,809.0,NaN,NaN,NaN,NaN
206,Western Sahara,597330.0,NaN,28.4,NaN,NaN